<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LinkedIn University Search</title>
</head>

<body>
    <h2>회사 검색</h2>
    <form method="POST" enctype="multipart/form-data">
        <label>검색용 회사명: <input type="text" name="company" required></label>
        <label>표시용 회사명: <input type="text" name="company_decoration" required></label>
        <br><br>
        <label>회사명 색상: <input type="color" name="company_color" value="#000000"></label>
        <br><br>
        <label>순위 배경색: <input type="color" name="color1" value="#000000"></label>
        <label>로고 배경색: <input type="color" name="color2" value="#000000"></label>
        <label>학교명 배경색: <input type="color" name="color3" value="#000000"></label>
        <label>인원 배경색: <input type="color" name="color4" value="#000000"></label>
        <br><br>
        <label>출처 문구 색상: <input type="color" name="footer_color" value="#000000"></label>
        <br><br>

        <button type="submit">검색</button>
    </form>
</body>

</html>